/*
*  Mobile first StyleSheet created by Nick Zaicev.
*  http://zaicev.by/
*
*/
/* Base styles
-------------------------------------------------- */
html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  position: relative;
  font-size: 16px;
  min-height: 100%;
  min-width: 320px; }

body {
  margin-bottom: 100px;
  /* Margin bottom by footer height */ }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5; }

a {
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

/* Header styles
-------------------------------------------------- */
header {
  /* Tablets */
  /* Desktop and larger */ }

header .logo {
  padding: 0;
  text-align: center;
  background: #F26671; }

header .logo a {
  display: inline-block;
  height: 70px;
  width: 115px;
  text-indent: -9999px;
  background: url(../svg/logo.svg) no-repeat;
  background-size: contain;
  background-position: center; }

header .hamburger {
  font-size: 26px;
  position: absolute;
  top: 15px;
  left: 20px;
  color: #fff;
  cursor: pointer; }

header .hamburger.closeBtn span:before {
  content: "\f2d7"; }

header .cart {
  font-size: 26px;
  position: absolute;
  top: 15px;
  right: 20px;
  color: #fff;
  cursor: pointer; }

@media only screen and (min-width: 768px) {
  header .logo a {
    display: block;
    text-indent: -9999px;
    height: 70px;
    background: url(../svg/logo.svg) no-repeat;
    background-size: contain;
    background-position: center; }
  header .cart {
    font-size: 26px;
    top: 15px;
    right: 13%; } }

@media only screen and (min-width: 992px) {
  header .logo a {
    display: inline-block;
    text-indent: -9999px;
    height: 90px;
    width: 220px;
    background: url(../svg/logo.svg);
    background-size: cover;
    background-position: center; }
  header .cart {
    font-size: 32px;
    color: #000; } }

/* Navigation styles
-------------------------------------------------- */
nav.navigation {
  /* Tablets */
  /* Desktop and larger */ }

nav.navigation ul {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none; }

nav.navigation ul.sub-nav {
  display: none;
  margin-left: 20px; }

nav.navigation ul.sub-nav li {
  text-transform: none; }

nav.navigation ul li {
  margin: 5px 0;
  font-size: 16px;
  text-transform: uppercase; }

nav.navigation ul li a {
  color: #555;
  font-weight: bold;
  text-decoration: none; }

nav.navigation ul li a:hover {
  color: #000; }

nav.navigation ul li a.active {
  border-bottom: 3px solid #F26671; }

@media only screen and (min-width: 768px) {
  nav.navigation.hidden {
    display: block !important;
    /* must be here for hamburger menu */ }
  nav.navigation ul.sub-nav {
    position: absolute;
    width: 150px;
    margin: 20px 0 0 0;
    padding: 10px 0;
    background: #F26671;
    color: #fff; }
  nav.navigation ul.sub-nav:before {
    content: '';
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #F26671;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; }
  nav.navigation ul.sub-nav li {
    margin: 0.2rem 1rem;
    text-transform: none;
    font-weight: 400; }
  nav.navigation ul.sub-nav li a {
    color: #fff;
    font-weight: normal; }
  nav.navigation ul li {
    font-weight: 600;
    margin: 10px 10px 7px;
    display: inline-block; }
  nav.navigation ul li a {
    padding: 7px 0; } }

@media only screen and (min-width: 992px) {
  nav.navigation ul {
    margin: 1.5rem 0 0 0; }
  nav.navigation ul li {
    margin: 10px; } }

/* Banner styles
-------------------------------------------------- */
.banner {
  height: 250px;
  background: #d4d4d4; }

/* icons
  'partials/icons/_ionicons-variables',
  'partials/icons/_ionicons-font',
  'partials/icons/_ionicons-icons';
*/
