/* Banner styles
-------------------------------------------------- */
.banner {
  height: 100px;
  background: #ffffdb;

  .brand {
    display: none;
    width: 300px;
    float: left;
    margin: 20px;

    img {
      width: 100%;
    }
  }


}