/* Banner styles
-------------------------------------------------- */
.banner {
  height: 250px;
  background: #d4d4d4;

  .brand {
    width: 300px;
    float: left;
    margin: 20px;

    img {
      width: 100%;
    }
  }


}