/* Header styles
-------------------------------------------------- */
header {
  .logo {
    height: 65px;
    background: #777;
    color: #fff;
    text-align: center;
  }
  .hamburger {
    font-size: 26px;
    position: absolute;
    top: 15px;
    left: 20px;
    color: #fff;
    cursor: pointer;

    &.closeBtn span:before {
      content: "\f2d7";
    }
  }
}