/* Navigation styles
-------------------------------------------------- */
nav.navigation {

  ul {
    list-style: none;
    padding: 0;
    text-align: right;
    margin: 0 20px 0 0;

    li {
      text-transform: uppercase;
      line-height: 2.5rem;
    }
  }


}


@media (min-width: 768px) {
  .navigation {
    &.hidden {
      display: block !important; /* must be here for hamburger menu */
    }

    ul {

      li {
        display: inline-block;
      }
    }
  }
}
