/* Navigation styles
-------------------------------------------------- */
nav.navigation {

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      text-transform: uppercase;
    }
  }


}


@media (min-width: 768px) {
  .navigation {
    &.hidden {
      display: block !important;
    }

    ul {

      li {
        display: inline-block;
      }
    }
  }
}
