/* Banner styles
-------------------------------------------------- */
.shop {

  div.section {
    padding: 0;
  }

  ul.categories {
    z-index: 100;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 40px;
    white-space: nowrap;
    list-style: none;
    background: rgba(0, 0, 0, .7);
    overflow: hidden;
    &.opened {
      width: auto;
      .mobile-arrow span:before {
        vertical-align: middle;
        // flip arrow
        transform: scaleX(-1);
      }
      .mobile-arrow:after {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 1rem;
        content: "\f404";
        font-family: 'Ionicons';
        font-size: 1.5rem;
      }
    }
    .mobile-arrow {
      line-height: 40px;
      font-size: 1rem;
      color: #fff;
      background: $main;
      span {
        font-size: 25px;
        padding: 0 12px;
        &:before {
          vertical-align: middle;
        }
      }

    }
    li a{
      display: block;
      font-size: 1rem;
      padding-right: 12px;
      line-height: 35px;
      color: #fff;
      text-decoration: none;
      &:hover {
        background-color: #000;
      }
      &.selected {
        background-color: #000;
      }
      span {
        font-size: 20px;
        padding: 0 12px;
        &:before {
          vertical-align: middle;
        }
      }

    }
  }
  .filters {
    background: $light-gray;
    margin-left: 50px;
    line-height: 44px;
    font-size: 1rem;
  }
  .content {
    margin-left: 50px;
    width: 85%;
    padding: 0;

    .product {
      height: 200px;
      padding: 0;
      border: 1px solid gray;
    }

  }

  @media only screen and (min-width: 500px) {
    .content {
      width: 90%;
    }
  }

  @media only screen and (min-width: 768px) {

  }


  @media only screen and (min-width: 992px) {
    ul.categories {
      position: relative;
      width: auto;
      background: none;
      &.opened .mobile-arrow:after{
        display: none;
      }
      .mobile-arrow {
        background: none;
        color: $dark-gray;
        span {
          display: none;
        }
      }
      li a{
        display: inline ;
        padding: 0;
        color: #000;
        &:hover {
          background: none;
          text-decoration: underline;
        }
        &.selected {
          background-color: transparent;
        }
        span {
          padding-left: 0;
        }
      }
    }
    .filters {
      margin-left: 0;
    }
    .content {
      margin-left: 0;
      width: 100%;

      .good {
        height: 200px;
        padding: 0;
        border: 1px solid gray;
      }

    }
  }


}