/* Banner styles
-------------------------------------------------- */
.shop {

  section {
    padding: 0;
  }

  ul.categories {
    z-index: 1001;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 40px;
    white-space: nowrap;
    list-style: none;
    background: rgba(0, 0, 0, .7);
    overflow: hidden;

    &.opened {
      width: auto;
    }
    .mobile-arrow {
      background: $main;
      span {
        font-size: 25px;
      }
    }
    li {
      font-size: 16px;
      padding: 5px 12px;
      color: #fff;
      span {
        font-size: 20px;
        padding-right: 7px;
      }

    }
  }

  .filters {
    background: #eee;

    margin-left: 50px;

  }

  .content {
    margin-left: 50px;
  }

}